<!--Added the below divs to experiment with flex positioning -- this style seems common on commercial sites-->
<div class="footer bg-dark text-light">
  <div class="align-middle pt-1">
    <div class="d-flex justify-content-around my-2">
      <div>1134 Final Project</div>
      <div>MCC Full Stack Development</div>
      <div>Omaha, NE</div>
    </div>
  </div>
  <div class="mx-auto text-center my-2">
    &copy;2020 Tucker Kent -- Got Q? <a href="mailto:tbkent1@mail.mccneb.edu">Email Me!</a>
  </div>
</div>
